:root{
    --colorText:black;
}





*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'calibri';
}
  

.form-Registro {
    width: 380px;
    background: #dbe0e6;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 12px;
    font-family: 'calibri';
    color:rgb(0, 0, 0);
    box-shadow: 7px 13px 37px #000;
}
.form-Registro h2{
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
    text-align: center;

}
.form-Registro label{
    font-size: 18px;
    color: black;
    

}
.controls{
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    font-family: 'calibri';
    font-size: 18px;
    color: #030202;

}
.form-Registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}
.form-Registro a {
    color: black;
    text-decoration: none;
}
.form-Registro a:hover {
    color: #0f1cd2;
    text-decoration: underline;
}
.boton{
    width: 100%;
    background: #0747cf;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 6px;
  


}
.form-check{
    height: 20px;
    font-size: 18px;
    line-height: 40px;
    color: black;
    
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  

.form-Nomina {
    width: 380px;
    background: #dbe0e6;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 12px;
    font-family: 'calibri';
    color:white;
    box-shadow: 7px 13px 37px #000;
}
.form-Nomina h2{
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
    text-align: center;

}
.form-Nomina label{
    font-size: 18px;
  color: black;

}
.campos{
    width: 100%;
    background: #ffffff;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #ffffff;
    font-family: 'calibri';
    font-size: 18px;
    color: #030202;

}
.form-Nomina p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;

}
.form-Nomina a {
    color: black;
    text-decoration: none;
}
.form-Nomina a:hover {
    color: #0f1cd2;
    text-decoration: underline;
}
.button{
    width: 100%;
    background: #0747cf;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 6px;
  
}

.links{
    width: 10%;
    background: #0747cf;
    padding: 20px;
    margin: auto;
    margin-top: 0px;
    border-radius: 0px;
    font-family: 'calibri';
    color:white ;
    font-size: 22px;
    text-align: center;

    
}
.links1{
    width: 20%;
    background: #0747cf;
    padding: 15px;
    margin: auto;
    margin-top: 0px;
    border-radius: 0px;
    font-family: 'calibri';
    color:white ;
    font-size: 22px;
    text-align: center;

    
}
.links1{
    width: 20%;
    background: #0747cf;
    padding: 20px;
    margin: auto;
  
}
.links1 :hover{
   background-color: #bd3232;
    text-decoration: underline;
  
}

   
.lol{
  background-color:#0747cf ;

  
}

.lol :hover{
   background-color: #ff7b00;
    text-decoration: underline;
  
} 










